* {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}
body {
  font-family: Arial, sans-serif;
  margin: 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menu-lateral {
  display: flex;
  width: 8%;
  padding: 2.5px;
  left: 32px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgb(160, 62, 6);
}
.titulo {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-left: 160px;
  color: rgb(160, 62, 6);
}
.titulo p {
  font-size: 24px;
  margin-bottom: 15px;
}
.listaCadastrada {
  display: grid;
  flex-direction: column;
  margin-left: 130px;
  padding: 20px;
  width: 50%;
  margin-top: 15px;
  font-size: 18px;
}
.listaCadastrada thead {
  color: rgb(160, 62, 6);
}
th {
  border-bottom: 1px solid;
  border-color: rgb(160, 62, 6);
}
.botao {
  margin-top: 625px;
  text-align: center;
}
.botao a {
  text-decoration: none;
  background-color: transparent;
  color: white;
}
.botao .btn-cadastrar {
  background-color: #0c4103;
  color: white;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.botao .btn-alterar {
  background-color: rgb(13, 16, 56);
  color: white;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin-left: 40px;
}
.botao .btn-cancelar {
  background-color: #850d0d;
  color: white;
  border-radius: 10px;
  width: 90px;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin-left: 40px;
}
